*{
  box-sizing:border-box;
}
.tag{
  text-align:center;
  color:#666666;
  font-weight: 700;
  margin:20px;
}
h3{
  text-align:center;
  font-size: 36px;
  font-weight: 600;
  color: #333;
  letter-spacing: -1px;
  word-break: keep-all;
}
.mySlides img:hover{
  filter:brightness(70%);
}
h2,p{
  text-align:center;
}
.slide-container{
  position:relative;
}
.slide-container .mySlides img{
  margin-bottom:10px;
  vertical-align:middle;
  width:700px;
  height:500px;
}
/*hide the images by default*/
.mySlides{
  text-align:center;
  display:none;
}

.numbertext{
  color:#f2f2f2;
  font-size:12px;
  padding:8px 12px;
  position:absolute;
  left:27%;
  top:0;
}
/*dots*/
.dot{
  cursor:pointer;
  height:15px;
  width:15px;
  margin:0 2px;
  background-color:#bbb;
  border-radius:50%;
  display:inline-block;
  transition:background-color 0.6s ease;
}
.active{
  background-color:#717171;
}
.dot:hover{
  background-color:#717171;
}
 Fading animation
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.quick-menu{
  display:flex;
  justify-content:space-around;
  background-color:#1F2328;
  list-style:none;
  align-items:center;
}
.quick-menu-item a{
  float:left;
  text-decoration:none;
  text-align:center;
  justify-content:space-around;
  color:white;
}
.footer-body{
  background-color:#2C323A;
}
.footer-bottom{
  color:white;
  text-align:center;
  background-color:#2C323A;
}
