
hgroup{
  padding-left:20px;
  padding-top:10px;
}

body{
  background:white;
  padding:0;
  list-style:none;
  margin:0;
  color:#333333;
}
a{
  color:inherit;
  text-decoration:none;
}
.con{
  margin:0 auto;
}


.container{
  margin:0 auto;
  width:100%;
  height:500px;
  overflow:hidden;
}


/*롤링 이미지 UL*/
.rollimgs{
  list-style:none;
  padding:0;
  margin:0;
}
.rollimgs li{
  position:absolute;
  width:100%;
  height:500px;
  left:1200px;
}
.rollimgs li img{
  width:100%;
  height:100%;
}
.rollimgs li.currentroll{
  left:0;
  transtion:left .7s ease-in-out,right .7s ease-in-out;
}
.rollimgs li.prevroll{
  left: -100%;
  transition:left .7s ease-in-out,right .7s ease-in-out;
}
.rollimgs.reverse li.prevroll{
  transition:none;
}
.rollimgs li.nextroll{
  left:100%;
  display:block;
  transition:none;
}
.rollimgs.reverse li.nextroll{
  transition:left .7s ease-in-out,right .7s ease-in-out;
}



.nav-container{
  background-color:#282828;
  display:flex;
  justify-content:space-around;/*앞, 뒤, 요소들 사이에 여유공간*/
  /*flex-direction:row;*/
  align-items:center;
  width:100%;
  list-style-type:none;
}
.nav::after{
  content:"";
  display:block;
  clear:both;
}
.nav-item{
  float:left;
  box-sizing:border-box;
  padding:15px;
  cursor:pointer;
}
.nav-item-right{
  float:right;
  box-sizing:border-box;
}
.block{
  display:block;
}
.relative{
  position:relative;
}
.con{
  width:1116px;
}
.top-bar{
  margin-top:30px;
}
.top-bar > .main-navigation > ul > li{
  width:calc((100%-216px)/6);
}
.top-bar > .main-navigation > ul > li > a{
  list-style:none;
  padding:13px 0;
  color:white;
  font-weight:bold;
  text-align:center;
}
/*--
.top-bar > .main-navigation > ul > li:hover > a{
  background-color:#afafaf;
}--*/

.top-bar > .sub-menu-bg > div > div {
  position:absolute;
  top:0;
  left:10px;
  width:calc(100%-20px);
  height:470px;
  transform:translateY(-100%);
  transition:transform 0.3s;
}
.top-bar > .sumb-menu-bg > div > div::before, .top-bar > .sub-menu-bg > div > div::after{
  display:block;
  content:"";
  top:0;
  left:10px;
  width:0;
  height:0;
  border-top:10px solid #484d50;
  border-left:10px solid transparent;
  z-index:-1;
  position:absolute;
}
.top-bar > .sub-menu-bg > div > div::after{
  left:auto;
  right:-10px;
  transform:rotateY(180deg);
}
.top-bar:hover > .sub-menu-bg > div > div{
  transform:translateY(0);
}
.top-bar:hover > .sub-menu-bg > div{
  height:500px;
}
.top-bar > .main-navigation > ul > li:first-child > div {
  margin-left:10px;
}
.top-bar > .main-navigation > ul > li:last-child > div {
  margin-right:10px;
}
.top-bar > .main-navigation > ul > li > div{
  z-index:1;
}
.top-bar > .main-navigation > ul > li > div > div {
  position:absolute;
  top:0;
  left:0;
  left:0;
  width:100%;
  height:0;
  overflow:hidden;
  transition:height 0.3s;
}
.top-bar:hover > .main-navigation > ul > li > div > div {
    height:500px;
}

.top-bar > .main-navigation > ul > li > div > div > ul {
    height:500px;
    transform:translateY(-100%);
    transition:transform 0.3s;
}

.top-bar:hover > .main-navigation > ul > li > div > div > ul {
    transform:translateY(0);
}

.top-bar > .main-navigation > ul > li > div > div > ul > li > a {
    color:black;
    padding:8px 8px;
    white-space:nowrap;
    font-size:0.9rem;
    overflow-x:hidden;
    text-overflow:ellipsis;
}

.top-bar > .main-navigation > ul > li > div > div > ul > li:hover > a {
    background-color:rgba(0,0,0,0.2);
    color:white;
    text-decoration:underline;
}



.nav-item a{/*nav-item 클래스 아래의 a요소 선택*/
  font-size:20px;
  color:#fff;
  text-decoration:none;
  position:relative;
  padding:6px 12px;
}
.nav-item a::after{
  content: "";
  position:absolute;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  width:0;
  height:2px;
  background:#f1c40f;
  transition:all .5s ease-out;
}
.nav-item a:hover::after{
  width:100%;
}
header{
  margin-top:80px;
}
.section1-title {
  margin-top:60px;
  margin-bottom:30px;
  text-align:center;
}
.section1-wrap{
  margin-left:100px;
  margin-right:100px;
}

.banner-title{
  display:flex;
  justify-content:space-around;
  align-items:center;
  text-align:center;
  width:100%;
}






.section1-inner{
  display:flex;
  float:left;
  padding-left:20px;
  padding-right:20px;
  cursor:pointer;
  list-style-type:none;

}
.section1-inner{
  cursor:pointer;
}
.section1-inner a{
  position:relative;
  text-align:center;
  text-decoration:none;
  font-weight:800;
  color:black;
  padding-bottom:0;
}
.section1-inner a::after{
  content: "";
  position:absolute;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  width:0;
  height:2.5px;
  background:#54916d;
  transition:all .5s ease-out;
}
.section1-inner a:hover::after{
  width:100%;
}

.banner-photo-container{
  display:flex;
  justify-content:space-around;
  align-items:center;
  width:100%;
}

.banner-photo img{
  float:left;
  width:300px;
  height:300px;
}

.section1 .banner-photo .img-wrap1 {
    position: relative;
    width : 300px;
    height : 300px;
}

.section1 .banner-photo a {
    width:100%;
    height:100%;
}


.section1 .banner-photo a .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0;
}

.section1 .banner-photo a:hover .img-hover {
    opacity: 0.8;
    transition: all 0.3s ease;
}

.section1 .banner-photo .img-wrap1 .more {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    transform: translate(125%, 550%);
    opacity: 0;
}

.section1 .banner-photo a:hover .img-wrap1 .more {
    opacity: 1;
    transition: all 0.3s ease;
}

.sunset-wrap-top{
  position:relative;
  margin:0;
  width:1280px;
  height:1000px;
}

.sunset-wrap .sunset-wrap-top .sunset1 .img-wrap2 {
    margin:30px;
    float: left;
    position: relative;
    width : 800px;
    height : 400px;
}
.sunset-wrap .sunset-wrap-top .sunset1 a {
    width:100%;
    height:100%;
}
.sunset-wrap .sunset-wrap-top .sunset1 a .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0;
}
.sunset-wrap .sunset-wrap-top .sunset1 a:hover .img-hover {
    opacity: 0.8;
    transition: all 0.3s ease;
}
.sunset-wrap .sunset-wrap-top .sunset1 .img-wrap2 .more {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    transform: translate(425%, 650%);
    opacity: 0;
}
.sunset-wrap .sunset-wrap-top .sunset1 a:hover .img-wrap2 .more {
    opacity: 1;
    transition: all 0.3s ease;
}


.sunset-wrap .sunset-wrap-top .sunset2 .img-wrap3 {
    margin:30px;
    float: right;
    position: relative;
    width : 800px;
    height : 400px;
}
.sunset-wrap .sunset-wrap-top .sunset2 a {
    width:100%;
    height:100%;
}
.sunset-wrap .sunset-wrap-top .sunset2 a .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0;
}
.sunset-wrap .sunset-wrap-top .sunset2 a:hover .img-hover {
    opacity: 0.8;
    transition: all 0.3s ease;
}
.sunset-wrap .sunset-wrap-top .sunset2 .img-wrap3 .more {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    transform: translate(425%, 650%);
    opacity: 0;
}
.sunset-wrap .sunset-wrap-top .sunset2 a:hover .img-wrap3 .more {
    opacity: 1;
    transition: all 0.3s ease;
}


.banner-text{
  display:flex;
  justify-content:space-around;
  align-items:center;
  width:100%;
}
.banner-text1{
  width:300px;
  height:200px;
  float:left;
  text-align:center;
}
.banner-text2{
  width:300px;
  height:200px;
  float:left;
  text-align:center;
}
.banner-text3{
  width:300px;
  height:200px;
  float:left;
  text-align:center;
}
.section2-title{
  margin-bottom:60px;
  text-align:center;
}
.sunset-wrap{
  margin-left:100px;
  margin-right:100px;
}

.sunset1-image{

  float:left;
  width:800px;
  height:400px;
  margin-bottom:35px;
}

.sunset-text-container .sunset1-text{

  padding-top:90px;
  text-align:center;
}
.sunset-text-container .sunset1-text h3{
  margin-top:50px;
  margin-bottom:60px;
}

.sunset2-image{
  float:right;
  width:800px;
  height:400px;
  margin-bottom:35px;
}
.sunset-text-container .sunset2-text{
  float:left;
  padding-top:90px;
  text-align:center;
}
.sunset-text-container .sunset2-text h3{
  margin-top:50px;
  margin-bottom:60px;
}

.sunset-wrap-bottom{
  display:flex;
  justify-content:space-around;
  padding-left:10px;
  padding-right:10px;
  align-items:center;
  width:100%;
  list-style-type:none;
}
.sunset3-image{
  float:left;
  width:300px;
  height:300px;

}
.sunset4-image{
  float:left;
  width:300px;
  height:300px;

}
.sunset5-image{
  float:right;
  width:300px;
  height:300px;

}
.sunset-text{
  display:flex;
  justify-content:space-around;
  align-items:center;
  width:100%;
}
.sunset-text3{
  width:300px;
  height:200px;
  float:left;
  text-align:center;
}
.sunset-text4{
  width:300px;
  height:200px;
  float:left;
  text-align:center;
}
.sunset-text5{
  width:300px;
  height:200px;
  float:right;
  text-align:center;
}




.section3 .sunset-bottom-photo .sunset-wrap-bottom .img-wrap4 {
    position: relative;
    width : 300px;
    height : 300px;
}

.section3 .sunset-bottom-photo .sunset-wrap-bottom a {
    width:100%;
    height:100%;
}

.section3 .sunset-bottom-photo .sunset-wrap-bottom a .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0;
}

.section3 .sunset-bottom-photo .sunset-wrap-bottom a:hover .img-hover {
    opacity: 0.8;
    transition: all 0.3s ease;
}

.section3 .sunset-bottom-photo .sunset-wrap-bottom .img-wrap4 .more {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    transform: translate(125%, 550%);
    opacity: 0;
}

.section3 .sunset-bottom-photo .sunset-wrap-bottom a:hover .img-wrap4 .more {
    opacity: 1;
    transition: all 0.3s ease;
}







.section3 .sunset-bottom-photo .sunset-wrap-bottom .img-wrap5 {
    position: relative;
    width : 300px;
    height : 300px;
}

.section3 .sunset-bottom-photo .sunset-wrap-bottom a {
    width:100%;
    height:100%;
}

.section3 .sunset-bottom-photo .sunset-wrap-bottom a .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0;
}

.section3 .sunset-bottom-photo .sunset-wrap-bottom a:hover .img-hover {
    opacity: 0.8;
    transition: all 0.3s ease;
}

.section3 .sunset-bottom-photo .sunset-wrap-bottom .img-wrap5 .more {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    transform: translate(125%, 550%);
    opacity: 0;
}

.section3 .sunset-bottom-photo .sunset-wrap-bottom a:hover .img-wrap5 .more {
    opacity: 1;
    transition: all 0.3s ease;
}





.section3 .sunset-bottom-photo .sunset-wrap-bottom .img-wrap6 {
    position: relative;
    width : 300px;
    height : 300px;
}

.section3 .sunset-bottom-photo .sunset-wrap-bottom a {
    width:100%;
    height:100%;
}

.section3 .sunset-bottom-photo .sunset-wrap-bottom a .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0;
}

.section3 .sunset-bottom-photo .sunset-wrap-bottom a:hover .img-hover {
    opacity: 0.8;
    transition: all 0.3s ease;
}

.section3 .sunset-bottom-photo .sunset-wrap-bottom .img-wrap6 .more {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    transform: translate(125%, 550%);
    opacity: 0;
}

.section3 .sunset-bottom-photo .sunset-wrap-bottom a:hover .img-wrap6 .more {
    opacity: 1;
    transition: all 0.3s ease;
}



.jeju-map{
  display:inline;
}
.map{
  text-align:center;
  left:20%;
}

.quick-menu{
  display:flex;
  justify-content:space-around;
  background-color:#1F2328;
  list-style:none;
  align-items:center;
}
.quick-menu-item a{
  float:left;
  text-decoration:none;
  text-align:center;
  justify-content:space-around;
  color:white;
}
.footer-body{
  background-color:#2C323A;
}
.footer-bottom{
  color:white;
  text-align:center;
  background-color:#2C323A;
}
