
hgroup{
  padding-left:20px;
  padding-top:10px;
}
body{
  background:white;
  margin:0;
  color:#333333;
}

.container{
  margin:0 auto;
  width:100%;
  height:500px;
  overflow:hidden;
}


/*롤링 이미지 UL*/
.rollimgs{
  list-style:none;
  padding:0;
  margin:0;
}
.rollimgs li{
  position:absolute;
  width:100%;
  height:500px;
  left:1200px;
}
.rollimgs li img{
  width:100%;
  height:100%;
}
.rollimgs li.currentroll{
  left:0;
  transtion:left .7s ease-in-out,right .7s ease-in-out;
}
.rollimgs li.prevroll{
  left: -100%;
  transition:left .7s ease-in-out,right .7s ease-in-out;
}
.rollimgs.reverse li.prevroll{
  transition:none;
}
.rollimgs li.nextroll{
  left:100%;
  display:block;
  transition:none;
}
.rollimgs.reverse li.nextroll{
  transition:left .7s ease-in-out,right .7s ease-in-out;
}

.nav-container{
  background-color:#282828;
  display:flex;
  justify-content:space-around;/*앞, 뒤, 요소들 사이에 여유공간*/
  /*flex-direction:row;*/
  align-items:center;
  width:100%;
  list-style-type:none;
}
.nav-item{
  padding:15px;
  cursor:pointer;
}
.nav-item a{/*nav-item 클래스 아래의 a요소 선택*/
  font-size:20px;
  color:#fff;
  text-decoration:none;
  position:relative;
  padding:6px 12px;
}
.nav-item a::after{
  content: "";
  position:absolute;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  width:0;
  height:2px;
  background:#f1c40f;
  transition:all .5s ease-out;
}
.nav-item a:hover::after{
  width:100%;
}
header{
  margin-top:80px;
}
.section1-title {
  margin-top:30px;
  margin-bottom:30px;
  text-align:center;
}
.section1-wrap{
  margin-left:100px;
  margin-right:100px;
}

.banner-title{
  display:flex;
  justify-content:space-around;
  align-items:center;
  text-align:center;
  width:100%;
}
.section1-inner{
  float:left;
  padding-left:20px;
  padding-right:20px;
  cursor:pointer;
  list-style-type:none;

}
.section1-inner a{
  position:relative;
  text-align:center;
  text-decoration:none;
  color:black;
}


.banner-photo-container{
  display:flex;
  justify-content:space-around;
  align-items:center;
  width:100%;
}

.banner-photo img{
  float:left;
  width:300px;
  height:300px;
}

.section1 .banner-photo .img_wrap1 {
    position: relative;
    width : 300px;
    height : 300px;
}

.section1 .banner-photo a {
    width:100%;
    height:100%;
}


.section1 .banner-photo a .img_hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0;
}

.section1 .banner-photo a:hover .img_hover {
    opacity: 0.8;
    transition: all 0.3s ease;
}

.section1 .banner-photo .img_wrap1 .more {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    transform: translate(125%, 550%);
    opacity: 0;
}

.section1 .banner-photo a:hover .img_wrap1 .more {
    opacity: 1;
    transition: all 0.3s ease;
}



.sunset-wrap.sunset-wrap-top.sunset1.img_wrap2 {
    position: relative;
    width : 800px;
    height : 400px;
}
.sunset-wrap.sunset-wrap-top.sunset1 a {
    width:100%;
    height:100%;
}
.sunset-wrap.sunset-wrap-top.sunset1 a .img_hover2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0;
}
.sunset-wrap.sunset-wrap-top.sunset1 a:hover .img_hover2 {
    opacity: 0.8;
    transition: all 0.3s ease;
}
.sunset-wrap.sunset-wrap-top.sunset1.img_wrap2 .more {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    transform: translate(125%, 550%);
    opacity: 0;
}
.sunset-wrap.sunset-wrap-top.sunset1 a:hover .img_wrap2 .more {
    opacity: 1;
    transition: all 0.3s ease;
}
/*
.sunset1>a:hover{
  filter:brightness(50%);
}
.sunset2>a:hover{
  filter:brightness(50%);
}
.sunset3-image:hover{
  filter:brightness(50%);
}
.sunset4-image:hover{
  filter:brightness(50%);
}
.sunset5-image:hover{
  filter:brightness(50%);
}
*/
.banner-text{
  display:flex;
  justify-content:space-around;
  align-items:center;
  width:100%;
}
.banner-text1{
  width:300px;
  height:200px;
  float:left;
  text-align:center;
}
.banner-text2{
  width:300px;
  height:200px;
  float:left;
  text-align:center;
}
.banner-text3{
  width:300px;
  height:200px;
  float:left;
  text-align:center;
}
.section2-title{
  margin-bottom:60px;
  text-align:center;
}
.sunset-wrap{
  margin-left:100px;
  margin-right:100px;
}

.sunset1-image{

  float:left;
  width:800px;
  height:400px;
  margin-bottom:35px;
}
.sunset1-text{
  text-align:center;
}
.sunset1-text h3{
  margin-top:50px;
  margin-bottom:60px;
}

.sunset2-image{
  float:right;
  width:800px;
  height:400px;
  margin-bottom:35px;
}
.sunset2-text{
  float:left;
  text-align:center;
}
.sunset2-text h3{
  margin-top:50px;
  margin-bottom:60px;
}

.sunset-wrap-bottom{
  display:flex;
  justify-content:space-around;
  padding-left:10px;
  padding-right:10px;
  align-items:center;
  width:100%;
  list-style-type:none;
}
.sunset3-image{
  float:left;
  width:300px;
  height:300px;

}
.sunset4-image{
  float:left;
  width:300px;
  height:300px;

}
.sunset5-image{
  float:right;
  width:300px;
  height:300px;

}
.sunset-text{
  display:flex;
  justify-content:space-around;
  align-items:center;
  width:100%;
}
.sunset-text3{
  width:300px;
  height:200px;
  float:left;
  text-align:center;
}
.sunset-text4{
  width:300px;
  height:200px;
  float:left;
  text-align:center;
}
.sunset-text5{
  width:300px;
  height:200px;
  float:right;
  text-align:center;
}

.section3 .sunset-bottom-photo.sunset-wrap-bottom.img_wrap3 {
    position: relative;
    width : 300px;
    height : 300px;
}

.section3 .sunset-bottom-photo.sunset-wrap-bottom a {
    width:100%;
    height:100%;
}


.section3 .sunset-bottom-photo.sunset-wrap-bottom a .img_hover3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0;
}

.section3 .sunset-bottom-photo.sunset-wrap-bottom a:hover .img_hover3 {
    opacity: 0.8;
    transition: all 0.3s ease;
}

.section3 .sunset-bottom-photo.sunset-wrap-bottom .img_wrap3 .more {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    transform: translate(125%, 550%);
    opacity: 0;
}

.section3 .sunset-bottom-photo.sunset-wrap-bottom a:hover .img_wrap3 .more {
    opacity: 1;
    transition: all 0.3s ease;
}


.jeju-map{
  display:inline;
}
.map{
  text-align:center;
  left:20%;
}

.quick-menu{
  display:flex;
  justify-content:space-around;
  background-color:#1F2328;
  list-style:none;
  align-items:center;
}
.quick-menu-item a{
  float:left;
  text-decoration:none;
  text-align:center;
  justify-content:space-around;
  color:white;
}
.footer-body{
  background-color:#2C323A;
}
.footer-bottom{
  color:white;
  text-align:center;
  background-color:#2C323A;
}
